

#navigation {              /*div containing navig table*/
    background-color: #656565;
    margin: 5px;
    padding: 5px;
}

#navigation table {                    /*table*/
    margin: 0;
    padding: 0;
    width: 100%;
}


#navigation td {                      /*td*/
    font-size: 1.25em;

}

#navigation_personal {              /*div containing navig table*/
    background-color: #D3222A;
    margin: 5px;
    padding: 5px;
}

#navigation_personal table {                    /*table*/
    margin: 0;
    padding: 0;
    width: 100%;
}


#navigation_personal td {                      /*td*/
    font-size: 1.25em;


}

a.CommonMenu:link,a.CommonMenu:visited,a.personal:link,a.personal:visited{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

a.CommonMenu:hover,a.CommonMenu:active{
    color: #B0B0B0;
}

a.personal:hover,a.personal:active{
    color: #BA1E26;
}

.creativity {
    background-image: url(Paper_texture_v5_by_bashcorpo.jpg);
    overflow: auto;
    text-align: center;
    color: black;
    text-decoration:none;
}

#daggertail {
    display: block;
    margin-left:auto;
    margin-right:auto;
    border: 3px solid black;
}

iframe.big_left, iframe.big_right, iframe.small_left, iframe.small_right {
    float: left;
    margin-bottom:5%;
}
iframe.big_left {
    margin-left:6%;
}

iframe.big_right {
    margin-left: 9%;
}