/* Navigation below*/
#navigation {              /*div containing navig table*/
    background-color: #656565;
    padding:0.25%;
    margin-bottom:5%;
}

#navigation table {                    /*table*/
    width: 100%;
}

#navigation td {                      /*td*/
    font-size: 1.25em;

}

#navigation_personal {              /*div containing navig table*/
    background-color:#D3222A;
    /*background-image: url(Paper_texture_v5_by_bashcorpo.jpg);*/
    padding:0.25%;
}

#navigation_personal table {                    /*table*/
    width: 100%;
}

#navigation_personal td {                      /*td*/
    font-size: 1.25em;

}

a.CommonMenu:link,a.CommonMenu:visited,a.personal:link,a.personal:visited{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

a.CommonMenu:hover,a.CommonMenu:active{
    color: #B0B0B0;
}

a.personal:hover,a.personal:active{
    color: #BA1E26;
}
/* Navigation above*/

/* artwork below*/
.creativity {
    background-image: url(Paper_texture_v5_by_bashcorpo.jpg);
    overflow: auto;
    text-align: center;
    color: black;
    text-decoration:none;
}

#daggertail {
    display: block;
    margin-left:auto;
    margin-right:auto;
    border: 3px solid black;
}

iframe.big_left, iframe.big_right, iframe.small_left, iframe.small_right {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5%;
    border: 0.125em solid black;
}
iframe.big_left {



}

iframe.big_right {

}

iframe.small_left {

}

iframe.small_right {

}

#channel {
    margin-bottom:2%;
    margin-top:5%;

}

#artwork {
    margin-top:5%;
    text-decoration: underline;
}

#body_personal {
    background-color:#E5D3BD;
}
/* artwork above*/


/*resume below*/
#shanky {
    width: 15%;
    height: 15%;
    float: left;
    margin-top:1em;
    margin-bottom:1em;
    margin-right:3%;
    margin-left:3%;
}

#r_intro, #r_experience, #r_skills, #r_projects, #r_education, #contact {
    width:70%;
    margin-left: auto;
    margin-right: auto;
    overflow:auto;
    margin-top:2%;
    background-color: white;
}

.r_big, .r_heading {
    font-size: 1.5em;
    line-height: 200%
}

.r_heading {
    margin-left:3%;
}

.r_medium {
    font-size: 1.3em;
    line-height: 200%;
}

.r_small {
    font-size: 1em;
    line-height: 200%;
}

.r_very_small {
    font-size: 0.9em;
    line-height: 200%;
}

.r_text {
    /*margin-left:-3%;*/
}

#r_intro_text, #contact_text {
    margin-top:0;

}

#resume_page, #body_contact, #body_home {
    background-color: #E9E9E9;
}

.r_experience_divs, .r_skills_divs, .r_projects_divs, .r_education_divs, #contact_text {
    margin-left:7%;
    margin-right:7%;
}


.r_skills {
    background-color:#F0F0F0;
}

#leaveypic, #vasavipic, #karvypic, #liquidhubpic {
    float:right;
    margin-right:7%;
    margin-left:3%;
}
/*resume above*/

/* Homework page below*/
#jsHW1 {
    margin-left: auto;
    margin-right: auto;
    width:70%;
    overflow:auto;
    border: 0.0625em solid black;
    text-align: center;
    padding-bottom:5%;
    padding-left:5%;
    padding-right:5%;
    padding-top:2%;
}

.hw_title {
    font-size: 1.2em;
    text-decoration:underline;
}

#jsHW1_part1 {

    float:left;
    position:relative;
    border:0.0625em solid black;
    left:5%;
    padding:3%;
}

#jsHW1_part2 {
    float:right;
    position:relative;
    border:0.0625em solid black;
    right:5%;
    padding:3%;

}

span.hw_footer {
    text-align:right;
}
/* Homework page above */